	<div id="login-card" class="card">
		<div id="inputs">
			<div class="form-group">
				<label class="form-label" for="login">Введите свой логин</label>
				<input id="login" class="form-input" type="text" tabindex="-1" 
				ng-model="$ctrl.login" ng-change="$ctrl.validated=true" autocomplete="off" />
			</div>
			<div class="form-group">
				<label class="form-label" for="password">Введите свой пароль</label>
				<input id="password" class="form-input" type="text" tabindex="-1"
				ng-model="$ctrl.password" ng-change="$ctrl.validated=true" autocomplete="off" />
			</div>
		</div>
		<div id="validate-text" ng-hide="$ctrl.validated">Минимум один символ</div>
		<div id="next-button" class="" ng-click="$ctrl.next_click()">{{ $ctrl.button_text }}</div>
	</div>