#persons-list {
	width: 400px;
	margin: 0 auto;
}

#persons-list .card {
	display: block;
	color: black;
	padding: 30px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
	box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
}

.card>label {
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
}

.card > p {
	color: black;
	margin-bottom: 0px;
	padding-bottom: 8px;
}

.card > .buttons {
	/*кнопочки будут справа*/
	text-align: right;
}

/*=====================================================*/
/*Панель управления*/
#control-panel {
	margin-top: 10px;
}

#filter-input {
	margin: 10px 0px;
}

.sort-button {
	border-radius: 5px;
	border: 1px solid black;
	-webkit-box-shadow: 0 0px 5px 0 rgba(0,0,0,.5);
	box-shadow: 0 0px 5px 0 rgba(0,0,0,.5);
	background-color: white;
	margin-top: 5px;
}

.sort-button img {
	width: 20px;
}

/*=====================================================*/
/* Модалка */
#add-person-form {
	height: 400px;
	margin: 22px;
	overflow: visible;
}