.faded {
	/*скрывает но не удаляет элемент из потока*/
    opacity: 0;
}

.valid-text {
	/*сообщение об ошибке валидации*/
	margin-top: -18px;
	margin-bottom: -14px;
	color: red;
	padding-left: 3px;
}

#persons-list {
	/*содержимое страницы*/
	width: 400px;
	margin: 0 auto;
}

#persons-list p {
	margin-bottom: 0px;
}

#persons-list .card {
	/*карточка на странице*/
	display: block;
	color: black;
	padding: 30px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
	box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
}

#persons-list label, #add-person-form label {
	/*для подписей на карточках и в модалке*/
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
}

.card > p {
	color: black;
	margin-bottom: 0px;
	padding-bottom: 8px;
}

.buttons {
	/*кнопочки будут справа*/
	text-align: right;
}

/*=====================================================*/
/*Панель управления*/
#control-panel {
	margin-top: 10px;
}

#filter-input {
	margin: 10px 0px;
}

.sort-button {
	border-radius: 5px;
	border: 1px solid black;
	-webkit-box-shadow: 0 0px 5px 0 rgba(0,0,0,.5);
	box-shadow: 0 0px 5px 0 rgba(0,0,0,.5);
	background-color: white;
	margin-top: 5px;
}

.sort-button img {
	width: 20px;
}

/*=====================================================*/
/* Модалка */
#add-person-form {
	height: 415px;
	margin: 22px;
	overflow: visible;
}

#date-input {
    /*инпут с датой*/
    border-radius: 0px 5px 5px 0;
    /*для старых сафари и хромов*/
    -webkit-border-radius: 0px 5px 5px 0;
    display: inline;
    width: 393px;
	/*скрываем инпут*/
	opacity: 0;
	position: absolute;
}

#dt-picker-text {
	/*текст с датой в модалке*/
	border-radius: 0px 5px 5px 0;
	/*для старых сафари и хромов*/
	-webkit-border-radius: 0px 5px 5px 0;
	display: inline;
	width: 393px;
}

#date-button {
    /*кнопка с часиками*/
    background-color: white;
    border-radius: 5px 0 0 5px;
    margin-top: -5px;
    margin-right: -4px;
}

#date-button > img {
    width: 20px;
}
