<div id="users-page" class="page">
<!-- 	<form>
		<fieldset>
			<input type="hidden" ng-model="$ctrl.id" value="0">
			<p>
				<label for="">Фамилия</label>
				<br/>
				<input type="text" ng-model="$ctrl.last_name">
			</p>
			<p>
				<label for="">Имя</label>
				<br/>
				<input type="text" ng-model="$ctrl.first_name">
			</p>
			<p>
				<label for="">Отчество</label>
				<br/>
				<input type="text" ng-model="$ctrl.father_name">
			</p>
			<p>
				<label for="">Дата</label>
				<br>
				<input type="number" ng-model="$ctrl.unix_time">
			</p>
			<button ng-click="$ctrl.accept_user()">
				{{ ($ctrl.id == 0)? "Создать":"Редактировать" }}
			</button>
		</fieldset>
	</form>
	<p>
		Фильтрация:
		<input ng-model="$ctrl.query">
	</p>
	<p>
		<button ng-click='$ctrl.orderProp="last_name"'>Сортировать по возрастанию фамилии</button>
		<br>
		<button ng-click='$ctrl.orderProp="-last_name"'>Сортировать по убыванию фамилии</button>
		<br>
		<button ng-click='$ctrl.orderProp="unix_time"'>Сортировать по возрастанию даты</button>
		<br>
		<button ng-click='$ctrl.orderProp="-unix_time"'>Сортировать по убыванию даты</button>
	</p> -->
	<div id="persons-list">
		<div ng-repeat="person in $ctrl.persons | orderBy:$ctrl.orderProp | filter:$ctrl.query" class="card">
			<label>Фамилия:</label>
			<p>{{person.last_name}}</p>
			<label>Имя:</label>
			<p>{{person.first_name}}</p>
			<label>Отчество:</label>
			<p>{{person.father_name}}</p>
			<label>Дата рождения:</label>
			<p>{{person.unix_time}}</p>
			<!-- <button ng-click="$ctrl.edit_user(person.id)">Редактировать</button>
			<button ng-click="$ctrl.delete_user(person.id)">Удалить</button> -->
		</div>
	</div>
</div>